.TaskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px 10px;
    background-color: rgb(27, 80, 36);
    border-radius: 10px;
}

.TaskItem__text {
    text-align: start;
}