.title {
    margin-top: 0;
}
.input {
    height: 30px;
    padding: 0 20px;
    border-radius: 7px;
    width: 60%;
    font-size: 16px;
    border: 2px solid rgb(140, 148, 124);
    background-color: rgb(189, 252, 236);
    color: rgb(23, 20, 20);
    outline: none;
}
